<nav class="navbar topnav-navbar navbar-fixed-top">
    <button id="sidebar-toggler" class="hidden-md-up" type="button" (click)="sidebarToggler()">
        &#9776;
    </button>
    <a class="hidden-md-up theme-name" href="Javascript:void(0);" (click)="gotoHome()"><img class="logo" src="assets/images/doc_and_i_logo.png"></a>
    <div class="collapse navbar-toggleable-sm">
        <a class="navbar-brand" href="Javascript:void(0);"(click)="gotoHome()"><img class="logo" src="assets/images/doc_and_i_logo.png"></a>
        <ul class="nav navbar-nav pull-right navbar-right">
          <li class="nav-item nav-text" role="menuitem" *ngIf="isAssociated()"><a href="javascript:void(0)" [routerLink]="['/','/340b']" tabindex="0"><img src="assets/images/svg/icon-script.svg" width="20px">340B</a></li>
          <!--<li class="nav-item nav-text" role="menuitem"><a href="javascript:void(0)" [routerLink]="['/','/map']" ><img src="assets/images/svg/icon-map.svg" width="15px"> Map</a></li>-->
          <!--<li class="nav-item nav-text" role="menuitem"><a href="javascript:void(0)" [routerLink]="['/','/drug-search']"><img src="assets/images/svg/icon-savings.svg" width="20px"> Savings</a></li>-->
            <li class="nav-item profile" *ngIf="isAssociated()">
                <div class="btn-group nav-text" dropdown>
                    <a dropdownToggle="" class="dropdown-toggle" aria-haspopup="true">
                         <span>My Clinic</span>
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="lang">
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"[routerLink]="['/dashboard','/my-clinic']">Manage</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/dashboard','/my-pharmacies']">My Pharmacies</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/dashboard','/contracted-pharmacies']">Contracted Pharmacies</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item profile" *ngIf="isAdmin()">
                <div class="btn-group" dropdown>
                    <a dropdownToggle="" class="dropdown-toggle" aria-haspopup="true">
                        <span>Admin</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="lang">
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"[routerLink]="['/admin','/manage-users']">Manage Users</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin','/manage-clinics']">Manage Clinics</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin','/manage-pharmacies']">Manage Pharmacies</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin','/survey-questions']">Survey Questions</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin','/manage-rewards']">Manage Rewards</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin','/edit-request']">Edit Request</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item profile profile-box" *ngIf="isLoggedIn()">
                <div class="btn-group" dropdown>
                    <a dropdownToggle="" class="dropdown-toggle" aria-haspopup="true" [ngClass]="{'add-points':false}">
                        <img src="assets/images/flat-avatar.png" class="topnav-img" alt=""> <span class="hidden-md-down nav-text">{{userName}}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="lang">
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"[routerLink]="['/dashboard','/home']">Dashboard</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/dashboard','/account-settings']">Settings</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/dashboard','/help']">Help</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a></li>
                      <li class="points" role="menuitem"><img src="assets/images/svg/icon-star.svg" width="10px"> 800 Points</li>
                    </ul>
                </div>
            </li>

            <li class="nav-item profile" *ngIf="!isLoggedIn()">
                <div class="btn-group" dropdown>
                    <a dropdownToggle="" class="dropdown-toggle" aria-haspopup="true" href="javascript:void(0)" (click)="goToLogin()">
                        <span>Login</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="lang">

                    </ul>
                </div>
            </li>


        </ul>
    </div>
    <ul class="nav navbar-nav pull-right hidden-md-up hidd">
        <li class="nav-item profile-xs">
            <div dropdown>
                <a dropdownToggle>
                    <img src="assets/images/flat-avatar.png" class="topnav-img" alt="">
                </a>
                <!--<ul class="dropdown-menu" aria-labelledby="lang">-->
                    <!--<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="gotoProfile()">Profile</a></li>-->
                    <!--<li class="divider dropdown-divider"></li>-->
                    <!--<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="goToLogin()">Logout</a></li>-->
                <!--</ul>-->
            </div>
        </li>
    </ul>
</nav>
