<div class="drug-search">
  <div class="row">
    <form class="search-ctn col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3 ">
      <div class="text-xs-center row-space">Prescription savings on <br> brand name and
        generic medications
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-9 small">
          <small>Quantity:</small>
        </div>
      </div>
      <div class="row row-space">
        <img src="assets/images/red-arrow.png" class="red-arrow">
        <div class="col-sm-8 col-sm-offset-1">
              <i class="fa fa-search"></i>
              <div class="form-group">
                <input type="text" class="form-control search-box" placeholder="Search Medications">
              </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3"><input placeholder="Qty" class="form-control" type="number"/></div>
      </div>

      <div class="row row-space">
        <div class="col-sm-11 col-sm-offset-1 col-md-10">
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">330</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11 col-lg-5 col-md-5 col-sm-offset-1 ninety-day-supply">
          <div class="checkbox">
            <label>
              <input type="checkbox"> 90 day supply*
            </label>
          </div>
        </div>
        <div class="col-sm-11 col-lg-6 col-md-6 col-sm-offset-1 col-lg-offset-0 col-md-offset-0"><a class="btn btn-info btn-block btn-rounded"  [routerLink]="['/drug-results']"  >Compare Prices</a></div>
      </div>


      <div>
        <small>*extends deeper discounts</small>
      </div>
    </form>
  </div>
</div>
