<div class="drug-search">
  <div class="row">
    <form class="search-box medium-10 small-centered  large-7 columns">
      <div class="small-centered text-center row-space">Prescription savings on <br> brand name and
        generic medications
      </div>
      <div class="row">
        <div class="small-2 small-offset-9 end column small">
          <small>Quantity:</small>
        </div>
      </div>
      <div class="row">
        <img src="images/red-arrow.png" class="red-arrow">
        <div class="small-8 small-offset-1 column"><input type="search" class="search-bar" placeholder="Search Medications"/></div>
        <div class="large-2 medium-2 small-3 end column"><input type="number"/></div>
      </div>

      <div class="row row-space">
        <div class="small-11 small-offset-1 medium-10 column">
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">330</div>
        </div>
      </div>

      <div class="row">
        <div class="small-11 large-5 medium-5 small-offset-1 end column ninety-day-supply">
          <input type="checkbox" id="90DaySupply"/>
          <label for="90DaySupply">90 day supply*</label>
        </div>
        <div class="small-11 large-6 medium-6 small-offset-1 large-offset-0 medium-offset-0 column"><a class="button radius expand">Compare Prices</a></div>
      </div>


      <div>
        <small>*extends deeper discounts</small>
      </div>
    </form>
  </div>
</div>
