$red: #FF5149;
$blue: #2189CE;
$light-blue: #9FD5E4;
$teal: #99DCD7;
$green: #8CC63F;
$grey: #555555;
$light-grey: #F3F3F3;
$dark-grey:#0a0a0a;
$white: #ffffff;

$font: 'Open Sans', sans-serif;
$stroke: 1px solid $light-grey;

$nav-background-color:#fff;
