<div class="map-page col-md-12">
    <div class="row">
        {{latitude | json}}

        <div class="col-lg-3 pharmacy-list full-height">
            <ul>
                <li *ngFor="let pharmacy of contractedPharmacies">
                    <div (click)="zoomToPharmacy(pharmacy)">
                        <div class="short-code center-block"><h3>{{pharmacy.short_code}}</h3></div>
                        <div class="pharmacy-details">{{pharmacy.name}} <br/>
                            {{pharmacy.address}}
                        </div>
                        <div class="pharmacy-benefits" >
                            <img *ngFor="let benefit of pharmacy.benefits"  src="{{benefit.image_url}}" alt="{{benefit.name}}">
                        </div>
    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 full-height map-container">
            <sebm-google-map
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [zoom]="zoom"
                    (triggerResize)="mapClicked()"
                    (centerChange) = "updateCurrentGeo($event)"
                    [usePanning]="true"
                    [disableDefaultUI]="false"
                    [zoomControl]="true"
                    (mapClick)="mapClicked($event)">

                <sebm-google-map-marker
                        *ngFor="let m of contractedPharmacies; let i = index"
                        (markerClick)="clickedMarker(m.name, i)"
                        [latitude]="m.latitude"
                        [longitude]="m.longitude"
                        [label]="m.name"
                        [markerDraggable]="false"
                        (dragEnd)="markerDragEnd(m, $event)">

                    <sebm-google-map-info-window>
                        <strong>InfoWindow content</strong>
                    </sebm-google-map-info-window>

                </sebm-google-map-marker>

                <!--<sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"-->
                <!--[radius]="5000"-->
                <!--[fillColor]="'red'"-->
                <!--[circleDraggable]="true"-->
                <!--[editable]="true">-->
                <!--</sebm-google-map-circle>-->

            </sebm-google-map>
        </div>
    </div>
</div>
