
<section class="healthcare-solutions">
    <section class="healthcare-solutions-header">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 healthcare-solutions-header-content">
                <h1>Improving Patient Care through Prescription Transparency</h1>
                <p>Our healthcare solution combines patent-pending technology with on premise expertise to maximize 340B program savings and patient care efforts.</p>
            </div>
        </div>
    </section>
    <section class="teal-row content-row">
        <a name="savings"></a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-offset-1">
                <img src="assets/images/prescription-software.png">
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Prescription Transparency Software</h2>
                <p>Ensure patients receive the best value for their prescriptions prior to arriving at the pharmacy.</p>
                <ul>
                    <li>Real-time prescription pricing</li>
                    <li>Generic price comparisons</li>
                    <li>Pharmacy benefit information</li>
                    <li>Easy to use, web-based platform</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="white-row content-row">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-offset-1">
                <h2>340B Prescription Savings</h2>
                <p>Provide savings to your patients through the 340B Drug Discount Program and capture patient participation.</p>
                <ul>
                    <li>340B information for patients</li>
                    <li>340B web tools for staff</li>
                    <li>Interactive pharmacy map  </li>
                    <li>Custom prescription discounts</li>
                </ul>
                <!-- <p>Learn More About 340B</p> -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-offset-1">
                <img src="assets/images/pharmacy-finder.png">
            </div>
        </div>
    </section>
    <section class="healthcare-solutions-closer content-row">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-5">
                <h2>340B Consultation</h2>
                <p>Many 340B clinics are missing out on astronomical savings. From setup to implementation, we’re here to help.</p>
            </div>
        </div>
    </section>
    <section class="healthcare-solutions-form teal-row">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h2>Schedule a Tour <br>of Our Healthcare Portal</h2>
                <form  role="form">
                    <div class="form-content col-lg-10 col-lg-offset-1">
                        <label for="name">Name:</label><br />
                        <input id="name" class="form-control input-underline input-lg" name="name" type="text" value="" size="30" />

                        <label for="phone">Organization:</label><br />
                        <input id="phone" class="form-control input-underline input-lg" name="phone" type="text" value="" size="30" />

                        <label for="phone">Phone:</label><br />
                        <input id="phone" class="form-control input-underline input-lg" name="phone" type="text" value="" size="30" />

                        <label for="email">Email:</label><br />
                        <input id="email" class="form-control input-underline input-lg" name="email" type="text" value="" size="30" />

                        <label for="message">Message:</label><br />
                        <textarea id="message" class="form-control input-underline input-lg" name="message" rows="7" cols="30"></textarea>

                        <input class="btn btn-red rounded-btn" id="submit_button" type="submit" disabled value="COME BACK SOON" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
