<div class="account-settings-page animate gradient">
    <h2 class="header">Account Settings</h2>
    <form class="col-sm-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3">
        <div class="container">
            <div class="row text-xs-center">
                <div class="col-sm-12">
                    <div class="row" *ngIf="currentUser.avatars">
                        <a (click)="selectAvatarModal.show()"><img src="{{currentUser.image_url}}" class="avatar-large"></a>
                    <!-- MODAL -->
                    <div bsModal #selectAvatarModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="avatarModal" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-label="Close"
                                            (click)="selectAvatarModal.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Select an Avatar</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="{{avatar.image_url}}" class="avatar-large"
                                         *ngFor="let avatar of currentUser.avatars" (click)="chooseAvatar(avatar.image_url)">
                                    <h3 *ngIf="!currentUser.avatars.length">No Avatars</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL -->
                    </div>

                    <br>
                    <h3 *ngIf="!editMode">{{currentUser.name}}</h3>
                    <div class="col-sm-offset-3 col-sm-6 form-group" *ngIf="editMode">
                        <input type="text" class="form-control" id="userName" placeholder="Full Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-8">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label text-xs-right">Employer</label>
                        <div class="col-sm-9">
                            <div class="field form-control">{{currentUser.health_care_facility ? currentUser.health_care_facility.name : '--'}}</div>
                        </div>
                    </div>
                    <!--<div class="form-group row">-->
                        <!--<label class="col-sm-3 form-control-label text-xs-right">Team</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<div class="field form-control">Morning Crew</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-sm-3 form-control-label text-xs-right">Team Lead</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<div class="field form-control">Jane Jackson</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-8">
                    <div class="form-group row"  xngIf="!editUser.id">
                        <label class="col-sm-3 form-control-label text-xs-right" for="inputemail">Email</label>
                        <div class="col-sm-9">
                            <div class="field form-control" id="inputemail">{{currentUser.email}}</div>
                        </div>
                    </div>

                    <!--<div class="col-sm-9 form-group" *ngIf="editUser.id">-->
                        <!--<input type="text" class="form-control" name="email" [(ngModel)]="editUser.email" placeholder="Email">-->
                    <!--</div>-->


                    <div class="form-group row"  *ngIf="!editUser.id">
                        <label class="col-sm-3 form-control-label text-xs-right" for="password">Password</label>
                        <div class="col-sm-9">
                            <div class="field form-control" id="password">********</div>
                        </div>
                    </div>
                    <div class="col-sm-9 form-group" *ngIf="editUser.id">
                        <input type="password" class="form-control"  name="password" [(ngModel)]="editUser.password"  placeholder="Password">
                        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="editUser.confirmPassword"  placeholder="Confrim Password">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row pull-right" *ngIf="!editUser.id"><a class="small" (click)="edit()">Update Account</a></div>
            <div class="row" *ngIf="editUser.id">
                <div class=" pull-left">
                    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
                </div>
                <div class=" pull-right">
                    <button class="btn btn-primary btn-bordered" (click)="save()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>