<div class="account-settings-page animate gradient">
    <h2 class="header">Account Settings</h2>
    <form>
        <div class="col-sm-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3 container">
            <div class="row text-xs-center">
                <div class="col-sm-12">
                    <div class="row">
                        <a><img src="http://placehold.it/150x150" class="avatar-large"></a>
                    </div>
                    <!-- MODAL -->
                    <div class="reveal" id="modal1" data-reveal hidden="true">
                        <h3 id="modalTitle">Select an Avatar</h3>
                        <img src="http://placehold.it/150x150" class="avatar-large selected">
                        <img src="http://placehold.it/150x150" class="avatar-large">
                        <img src="http://placehold.it/150x150" class="avatar-large">
                        <img src="http://placehold.it/150x150" class="avatar-large">
                        <button class="x" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- END MODAL -->
                    <br>
                    <h3 *ngIf="!editMode">SuperUser</h3>
                    <div class="col-sm-offset-3 col-sm-6 form-group" *ngIf="editMode">
                        <input type="text" class="form-control" id="userName" placeholder="Full Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-8">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label text-xs-right">Employer</label>
                        <div class="col-sm-9">
                            <div class="field form-control">Asain Human Services</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label text-xs-right">Team</label>
                        <div class="col-sm-9">
                            <div class="field form-control">Morning Crew</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label text-xs-right">Team Lead</label>
                        <div class="col-sm-9">
                            <div class="field form-control">Jane Jackson</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-8">
                    <div class="form-group row"  *ngIf="!editMode">
                        <label class="col-sm-3 form-control-label text-xs-right" for="inputemail">Email</label>
                        <div class="col-sm-9">
                            <div class="field form-control" id="inputemail">asmith@email.com</div>
                        </div>
                    </div>

                    <div class="col-sm-9 form-group" *ngIf="editMode">
                        <input type="text" class="form-control" id="inputemail" placeholder="Email">
                    </div>


                    <div class="form-group row"  *ngIf="!editMode">
                        <label class="col-sm-3 form-control-label text-xs-right" for="password">Password</label>
                        <div class="col-sm-9">
                            <div class="field form-control" id="password">********</div>
                        </div>
                    </div>
                    <div class="col-sm-9 form-group" *ngIf="editMode">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confrim Password">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row pull-right" *ngIf="!editMode"><a class="small" (click)="edit()">Update Account</a></div>
            <div class="row" *ngIf="editMode">
                <div class=" pull-left">
                    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
                </div>
                <div class=" pull-right">
                    <button class="btn btn-primary btn-bordered" (click)="save()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>