<div class="account-settings-page animate gradient">
        <h2>Account Settings</h2>
        <div class="col-sm-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3 text-xs-center container">
            <div class="row">
                <div class="col-sm-12">
                    <a data-open="modal1"><img src="http://placehold.it/150x150" class="avatar-large"></a>
                    <!-- MODAL -->
                    <div class="reveal" id="modal1" data-reveal hidden="true">
                        <h3 id="modalTitle">Select an Avatar</h3>
                        <img src="http://placehold.it/150x150" class="avatar-large selected">
                        <img src="http://placehold.it/150x150" class="avatar-large">
                        <img src="http://placehold.it/150x150" class="avatar-large">
                        <img src="http://placehold.it/150x150" class="avatar-large">
                        <button class="x" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- END MODAL -->
                    <h3>Amy Smith</h3>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="field-title">Employer</div>
                        </div>
                        <div class="col-sm-8 left">
                            <div class="field">Asain Human Services</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="field-title">Team</div>
                        </div>
                        <div class="col-sm-8 left">
                            <div class="field">Morning Crew</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="field-title">Team Lead</div>
                        </div>
                        <div class="col-sm-8 left">
                            <div class="field">Jane Jackson</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="field-title">Email</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="field">asmith@email.com</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="field-title">Password</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="field">********</div>
                            <div class="field"><a href="" class="small">Update Password</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>