<div class="edit-request-page animate">
    <div class="header">
        <h2> Pending Edit Request</h2>
    </div>
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Regular Table</span>
        </div>
        <div class="card-block">
            <table class="table ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th class="action-column"></th>
                </tr>
                </thead>
                <tbody>

                <div class="row" *ngFor="let editRequest of editRequests">
                    <tr>
                        <td>{{editRequest.name}}</td>
                        <td>{{editRequest.address}}</td>
                        <td>{{editRequest.city}}</td>
                        <td>{{editRequest.state}}</td>
                        <td>{{editRequest.zip}}</td>
                        <td>{{editRequest.phone}}</td>
                        <td>{{editRequest.latitude}}</td>
                        <td>{{editRequest.longitude}}</td>
                        <td class="action-column pull-right">
                            <Button class="btn btn-primary btn-rounded" (click)="approveEditRequest(editRequest.id)"><i
                                    class="fa fa-check"></i>Approve
                            </Button>
                            <Button class="btn btn-danger btn-rounded" (click)="approveEditRequest(editRequest.id)"><i
                                    class="fa fa-times"></i>Deny
                            </Button>
                            <Button class="btn btn-primary btn-bordered" *ngIf="false"
                                    (click)="approveEditRequest(editRequest.id)"><i class="fa fa-chevron-down"></i>Show
                                Original
                            </Button>
                            <Button class="btn btn-primary btn-bordered" *ngIf="true"
                                    (click)="denyEditRequest(editRequest.id)"><i class="fa fa-chevron-up"></i>Hide
                                Original
                            </Button>
                        </td>
                    </tr>

                    <tr class="original-pharmacy">
                        <td>{{editRequest.dni_pharmacy.name}}</td>
                        <td>{{editRequest.dni_pharmacy.address}}</td>
                        <td>{{editRequest.dni_pharmacy.city}}</td>
                        <td>{{editRequest.dni_pharmacy.state}}</td>
                        <td>{{editRequest.dni_pharmacy.zip}}</td>
                        <td>{{editRequest.dni_pharmacy.phone}}</td>
                        <td>{{editRequest.dni_pharmacy.latitude}}</td>
                        <td>{{editRequest.dni_pharmacy.longitude}}</td>
                        <td class="action.dni_pharmacy-column pull-right"><-- Original</td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>