<div class="manage-clinic-page animate gradient">
    <h2 class="header">Manage HealthCare Facility</h2>
    <form>
        <div class="col-sm-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3 container">
            <div class="row">
                <div class="col-sm-12 text-xs-center">
                    <div class="row">
                        <a><img src="http://placehold.it/150x150" class="logo"></a>
                    </div>

                    <br>
                    <h3 *ngIf="!editMode">Asian Human Services</h3>
                    <div class="col-sm-offset-3 col-sm-6 form-group" *ngIf="editMode">
                        <input type="text" class="form-control" id="userName" placeholder="Full Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-8">
                    <div class="form-group row" *ngIf="!editMode">
                        <label class="col-sm-3 form-control-label text-xs-right">Address</label>
                        <div class="col-sm-9">
                            <div class="field form-control">123 Main Street</div>
                        </div>
                    </div>
                    <div class="col-sm-9 form-group" *ngIf="editMode">
                        <input type="text" class="form-control" id="address" placeholder="Address">
                    </div>


                    <div class="form-group row" *ngIf="!editMode">
                        <label class="col-sm-3 form-control-label text-xs-right">City</label>
                        <div class="col-sm-9">
                            <div class="field form-control">dd</div>
                        </div>
                    </div>
                    <div class="col-sm-9 form-group" *ngIf="editMode">
                        <input type="email" class="form-control" id="city" placeholder="City">
                    </div>


                    <div class="form-group row" *ngIf="!editMode">
                        <label class="col-sm-3 form-control-label text-xs-right">State</label>
                        <div class="col-sm-9">
                            <div class="field form-control">dd</div>
                        </div>
                    </div>
                    <div class="col-sm-9 form-group" *ngIf="editMode">
                        <input type="text" class="form-control" id="state" placeholder="State">
                    </div>


                    <div class="form-group row" *ngIf="!editMode">
                        <label class="col-sm-3 form-control-label text-xs-right">Zip</label>
                        <div class="col-sm-9">
                            <div class="field form-control">313</div>
                        </div>
                    </div>
                    <div class="col-sm-9 form-group" *ngIf="editMode">
                        <input type="text" class="form-control" id="zip" placeholder="Zip">
                    </div>


                    <div class="form-group row" *ngIf="!editMode">
                        <label class="col-sm-3 form-control-label text-xs-right">Phone</label>
                        <div class="col-sm-9">
                            <div class="field form-control">3134</div>
                        </div>
                    </div>
                    <div class="col-sm-9 form-group" *ngIf="editMode">
                        <input type="tel" class="form-control" id="phone" placeholder="312-555-1212">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row pull-right" *ngIf="!editMode"><a class="small" (click)="edit()">Update Info</a></div>
                <div class="row" *ngIf="editMode">
                    <div class=" pull-left">
                        <button class="btn btn-primary" (click)="cancel()">Cancel</button>
                    </div>
                    <div class=" pull-right">
                        <button class="btn btn-primary btn-bordered" (click)="save()">Save</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="card">
                        <div class="card-header card-primary card-inverse">
                            <span class="card-title">Members</span>
                        </div>
                        <div class="card-block">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th class="action-column"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let member of members">
                                    <td>{{member.name}}</td>
                                    <td>{{member.email}}</td>
                                    <td>{{member.role}}</td>
                                    <td class="action-column pull-right">
                                        <Button class="btn btn-primary btn-rounded pull-right" (click)="editMember(member)" *ngIf="(userEditMode && !member.editMode && editUser.id === member.id)||(!member.editMode && !userEditMode)"><i class="fa fa-edit"></i>Edit
                                        </Button>
                                        <Button class="btn btn-danger btn-rounded pull-right"  (click)="saveMember(member)" *ngIf="userEditMode && member.editMode && editUser.id === member.id"><i class="fa fa-save"></i>Save
                                        </Button>
                                        <Button class="btn btn-primary btn-bordered pull-right" (click)="canceMemberEdit(member)" *ngIf="userEditMode && member.editMode && editUser.id === member.id"><i class="fa fa-times-circle"></i>Cancel
                                        </Button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>