<div class="manage-clinic-pharmacies-page">
    <div class="header">
        <h2>My Master Pharmacy List</h2>
    </div>
    <div class="row">

        <div class="col-lg-5 col-lg-offset-1">
            <input [typeahead]="getAsyncDataRef"
                   [(ngModel)]="searchString"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                   (typeaheadOnSelect)="typeaheadOnSelect($event)"
                   [typeaheadWaitMs]="300"
                   [typeaheadMinLength]="3"
                   [typeaheadOptionsLimit]="10"
                   [typeaheadOptionField]="'name'"
                   name="Search"
                   placeholder="Seach Pharmacies"
                   class="form-control">
        </div>

        <div class="col-lg-2 ">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-secondary dropdown-toggle" dropdownToggle>
                    {{currentClinic.name}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li *ngFor="let clinic of allClinics">
                        <a class="dropdown-item" (click)="setCurrentClinic(clinic)" >{{clinic.name}} {{clinic.address}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">{{currentClinic.name}} - Master Pharmacy List</span>
        </div>
        <div class="card-block">
            <table class="table ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Surescripts ID</th>
                    <th class="action-column"></th>
                </tr>
                </thead>
                <tbody>
                <tr>

                <tr>
                    <td>Name</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip</td>
                    <td>Phone</td>
                    <td>Latitude</td>
                    <td>Longitude</td>
                    <td>Surescripts ID</td>
                    <td class="action-column pull-right">
                        <Button class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i>Edit</Button>
                        <Button class="btn btn-danger btn-rounded"><i class="fa fa-times"></i>Remove</Button>
                    </td>
                </tr>
                <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>