<section class="home-page">
    <section class="home-page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4 col-md-offset-1 home-page-header-content">
                <h1>Prescription Price Transparency & 340B Program Savings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 ">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a  [routerLink]="['/healthcare-solutions']">
                            <div class="box">
                                <img src="assets/images/icon-prescription-search.png">
                                <h3>Prescription<br>Search</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a [routerLink]="['/healthcare-solutions']">
                            <div class="box">
                                <img src="assets/images/icon-340b.png">
                                <h3>Professional<br>340B Solutions</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a [routerLink]="['/login']">
                            <div class="box">
                                <img src="assets/images/icon-healthcare-portal.png">
                                <h3>Healthcare<br>Portal</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teal-row">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h2>Unearth Prescription Savings</h2>
                <p>Doc&I offers free savings for consumers and professional 340B solutions for healthcare providers.
                    Our patent-pending technology allows doctors to compare pricing and optimize 340B program savings to maximize patient care efforts.</p>
            </div>
        </div>
    </section>
    <section class="home-page-closer">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-5 col-sm-offset-6">
                <div class="box">
                    <img src="assets/images/rxCard-front.png">
                    <p class="savings-card">Prescription Savings Card</p>
                </div>
            </div>
        </div>
    </section>