<div class="three40-b-page" *ngIf="!showMap">
    <section class="header">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
                <div class="row">
                    <div class="pull-left">
                        <span><img src="assets/images/svg/icon-script.svg" width="30px"> Patient {{currentUser.todays_surveys + 1 || 0}} of {{currentUser.survey_day.expected_patients || 0}}
                        <small> <a href="javascript:void(0)"
                                   (click)="showPatientCountEditor()">Update</a></small> </span>
                    </div>

                    <div class="pull-right">
                        <a (click)="newSurvey()" href="javascript:void(0)"> <span
                                class="btn-white btn btn-rounded"><img src="assets/images/svg/icon-new-patient.svg"
                                                                           width="30px">New</span></a>
                        <a (click)="newSurvey()" href="javascript:void(0)"><span
                                class="btn-white btn btn-rounded"><img src="assets/images/svg/icon-refresh.svg"
                                                                           width="30px">Refresh</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="script">
        <div class="row" id="question1">
            <div class="col-xs-12  col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3 container">
                <div class="row">
                    <div class="row">

                        <div id="tabs-start" class="text-xs-center col-sm-offset-2 col-sm-8 yes-no-btn"
                             *ngIf="['start','answer-yes','answer-no'].indexOf(currentTab) > -1 ">
                            <p class="question">Is the patient using a contracted pharmacy?</p>
                            <section class="menu-tabs row">
                                <a class="btn btn-rounded btn-blue col-sm-6"
                                   [ngClass]="{'active':(currentTab == 'answer-yes')}"
                                   (click)="answerQuestion(1, 'answer-yes')">Yes</a>
                                <a class="btn btn-rounded btn-blue col-sm-6"
                                   [ngClass]="{'active':(currentTab == 'answer-no')}"
                                   (click)="answerQuestion(1, 'answer-no')">No</a>
                            </section>
                        </div>
                    </div>

                    <div class="question-tabs row">
                        <div *ngIf="currentTab == 'start'" class="tabs-panel row" id="start">
                            <section>
                                <div class="row">
                                    <div class="col-xs-12 col-xs-centered block pharmacy-list border">
                                        <ul>
                                            <li *ngFor="let p of contractedPharmacies">
                                                {{p.dni_pharmacy.display_name}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div *ngIf="currentTab == 'answer-yes'" class="tabs-panel row">
                            <section class="col-sm-offset-2 col-sm-8 select-Pharmacy">
                                <div class="row ">
                                    <select [(ngModel)]="questions.q2" class="col-sm-12">
                                        <option value="0">Select A Pharmacy</option>
                                        <option value="{{p.id}}" *ngFor="let p of contractedPharmacies">
                                            {{p.dni_pharmacy.display_name}}
                                        </option>
                                    </select>
                                </div>
                                <br>
                                <div class="row ">
                                    <input id="thanked" type="checkbox" [(ngModel)]="questions.q3"><label
                                        for="thanked">I have thanked patient
                                    and informed them of the 340B benefits</label>
                                </div>
                                <div class="row ">
                                    <ul class="benefit">
                                        <li class="intro">Asian Human Services has partnered with local pharmacies
                                            through a federal program. This program is designed to:
                                        </li>
                                        <li>help patients save money on medications</li>
                                        <li>support Asian Human Services with savings</li>
                                    </ul>
                                </div>
                                <div class="row text-xs-center">
                                    <button (click)="submitSurvey()" [disabled]="surveySending"
                                            class="button btn btn-primary btn-rounded">Submit
                                    </button>
                                </div>
                            </section>
                        </div>

                        <div *ngIf="currentTab == 'answer-no'" class="tabs-panel row">
                            <section class="col-sm-offset-2 col-sm-8">
                                <h4> Give the patient the 340B brochure and discuss benefits</h4>
                                <br>

                                <div class="row">
                                    <input id="340b-benefits" type="checkbox" [(ngModel)]="questions.q4"><label
                                        for="340b-benefits">I have
                                    informed patient of the 340B benefits</label>
                                </div>

                                <div class="row">
                                    <ul class="benefit" style="margin-top:0;">
                                        <li class="intro">Asian Human Services has partnered with local pharmacies
                                            through a federal program. This program is designed to:
                                        </li>
                                        <li>help patients save money on medications</li>
                                        <li>support Asian Human Services with savings</li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <input id="pharmacy-info" type="checkbox" [(ngModel)]="questions.q5"><label
                                        for="pharmacy-info">I have
                                    informed patient of the
                                    <button (click)="openMap()" class="button btn btn-red btn-rounded"
                                            style="width: inherit">Participating pharmacy
                                        locations
                                    </button>
                                    and corresponding benefits of pharmacies</label>
                                </div>
                                <div class="row text-xs-center">
                                    <a (click)="currentTab = 'ask-change'"
                                       class="button btn btn-primary btn-rounded">Next</a>
                                </div>
                            </section>
                        </div>


                        <div class="text-xs-center col-sm-offset-2 col-sm-8 yes-no-btn"
                             *ngIf="['ask-change','yes-change','no-change'].indexOf(currentTab) > -1 ">
                            <p class="question">Did the patient agree to change?</p>
                            <section class="menu-tabs row">

                                <a class="btn btn-rounded btn-blue col-sm-6"
                                   [ngClass]="{'active':(currentTab == 'yes-change')}"
                                   (click)="answerQuestion(6, 'yes-change')">Yes</a>
                                <a class="btn btn-rounded btn-blue col-sm-6"
                                   [ngClass]="{'active':(currentTab == 'no-change')}"
                                   (click)="answerQuestion(6, 'no-change')">No</a>
                            </section>
                        </div>

                        <div *ngIf="currentTab == 'yes-change'" class="tabs-panel row">
                            <br>
                            <section class="col-sm-offset-2 col-sm-8">
                                <div class="row yes-no-btn">
                                    <div class="select-Pharmacy">
                                        <select [(ngModel)]="questions.q7">
                                            <option value="0">Select A Pharmacy</option>
                                            <option value="{{p.id}}" *ngFor="let p of contractedPharmacies">
                                                {{p.dni_pharmacy.display_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <button (click)="openMap()"
                                            class="col-sm-3  pull-right button btn btn-red btn-rounded see-map">See
                                        Map
                                    </button>
                                </div>
                                <div class="row">
                                    <input id="updated-Pharmacy" type="checkbox" [(ngModel)]="questions.q8"><label
                                        for="updated-Pharmacy">I
                                    updated the preferred pharmacy in the system and alerted doctor</label>
                                </div>
                                <div class="row">
                                    <input id="handout-given" name="handout-given" type="checkbox"
                                           [(ngModel)]="questions.q9"><label for="handout-given">I gave the
                                    patient 340b handout</label>
                                </div>
                                <div class="row">
                                    <input id="freedom-choice" type="checkbox" [(ngModel)]="questions.q10"><label
                                        for="freedom-choice"> I told
                                    the patient about freedom of choice</label>
                                </div>
                                <br>
                                <div class="row text-xs-center">
                                    <button (click)="submitSurvey()"
                                            class="button btn btn-primary btn-rounded"
                                            [disabled]="!questions.q10 || surveySending">Submit
                                    </button>
                                </div>
                            </section>

                        </div>
                        <div *ngIf="currentTab == 'no-change'" class="tabs-panel row">
                            <section class="select-Pharmacy col-sm-offset-2 col-sm-8">

                                <select [(ngModel)]="questions.q11">
                                    <option value="0">Select A Reason</option>
                                    <option value="{{reason.name}}" *ngFor="let reason of reasons">{{reason.name}}
                                    </option>
                                </select>
                                <input *ngIf="questions.q11 == 'Other'" [(ngModel)]="questions.reason" type="text"
                                       class="form-control input-underline" placeholder="Enter Reason">
                                <br/>
                                <div class="row text-xs-center">
                                    <button (click)="submitSurvey()" [disabled]="surveySending"
                                            class="button btn btn-primary btn-rounded">Submit
                                    </button>
                                </div>
                            </section>
                        </div>
                        <div *ngIf="currentTab == 'submitted'" class="tabs-panel row">
                            <section class="col-sm-offset-2 col-sm-8">
                                <div class="row text-xs-center">
                                    <h3><span class="fa fa-check"></span>Submitted!</h3>
                                </div>

                                <div *ngIf="selectedPharmacy">
                                    <div class="row text-xs-center">
                                        <p>
                                            {{selectedPharmacy.dni_pharmacy.display_name}}
                                            {{selectedPharmacy.dni_pharmacy.zip}}
                                        </p>
                                    </div>
                                    <form (keyup.enter)="login()">
                                        <div class="row text-xs-center contact-info">
                                            <input name="contactInfo" class="col-sm-12" type="tel"
                                                   placeholder="Enter Cell Number"
                                                   [(ngModel)]="contactInfo">
                                        </div>
                                        <div class="row">

                                            <input id="text-consent" name="text-consent" type="checkbox"
                                                   [(ngModel)]="questions.text_consent"><label
                                                for="text-consent">Patient has verbally consented to sharing phone
                                            number and receiving text message(s) from Doc & I with pharmacy name and
                                            location information.</label>
                                        </div>
                                        <div class="row text-xs-center">

                                            <!--<a class="btn btn-warning btn-rounded col-sm-6"-->
                                            <!--(click)="sendEmail()">Email</a>-->
                                            <button type="submit" [disabled]="!questions.text_consent || textSending"
                                                    class="btn btn-warning btn-rounded col-sm-12"
                                                    (click)="sendText()">Send Text
                                            </button>
                                        </div>
                                    </form>
                                    <div class="row text-xs-center" *ngIf="messageSent">
                                        <h3><span class="fa fa-check"></span>Message Sent!</h3>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12  col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <ul class="status">
                    <li [ngClass]="{'done': ( ['start','answer-yes', 'answer-no', 'ask-change','yes-change','no-change','submitted'].indexOf(currentTab) > -1 )}"></li>
                    <li [ngClass]="{'done': ( ['answer-yes', 'answer-no','ask-change','yes-change','no-change','submitted'].indexOf(currentTab) > -1 )}"></li>
                    <li [ngClass]="{'done': ( ['ask-change','yes-change','no-change','submitted'].indexOf(currentTab) > -1 )}"></li>
                    <li [ngClass]="{'done': ( ['submitted'].indexOf(currentTab) > -1 )}"></li>
                </ul>
            </div>
        </div>
    </section>
</div>


<div class="map-page col-md-12" *ngIf="showMap">
    <div class="row">
        <button (click)="closeMap()" class="closeMapBtn"> Close Map</button>
        <div class="col-sm-5 col-lg-3 col-xs-11 full-height pharmacy-list">
            <div>

                <div class="btn-group" dropdown>
                    <button type="button" class="btn dropdown-toggle"
                            (click)="setLocation(currentLocation)" dropdownToggle>
                        {{currentLocation.address}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngFor="let location of currentClinic.hcf_locations">
                            <a class="dropdown-item" (click)="setLocation(location)">{{location.address}}</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="list-of-pharmacies">
                <input [typeahead]="typeAheadDataRef"
                       [(ngModel)]="searchString"
                       (typeaheadLoading)="changeTypeaheadLoading($event)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                       (typeaheadOnSelect)="addPharmacy($event.item)"
                       [typeaheadWaitMs]="300"
                       [typeaheadMinLength]="3"
                       [typeaheadOptionsLimit]="10"
                       [typeaheadOptionField]="'display_name'"
                       (keyup)="checkLimit($event)"
                       name="Search"
                       autocomplete="off"
                       placeholder="Search Pharmacies"
                       class="form-control">
                <ul>
                    <li *ngFor="let pharmacy of contractedPharmacies">
                        <div (click)="zoomToPharmacy(pharmacy.dni_pharmacy)">
                            <div class="pharmacy-details">{{pharmacy.dni_pharmacy.name}} <br/>
                                {{pharmacy.dni_pharmacy.address}}
                            </div>
                            <div class="pharmacy-benefits" *ngIf="pharmacy.dni_pharmacy">
                                <img *ngFor="let benefit of pharmacy.dni_pharmacy.benefits"
                                     src="{{benefit.image_url}}"
                                     alt="{{benefit.name}}">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-7 col-lg-9 col-xs-11 full-height map-container">
            <sebm-google-map
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [(zoom)]="zoom"
                    (centerChange)="updateCurrentGeo($event)"
                    [usePanning]="true"
                    [disableDefaultUI]="false"
                    [zoomControl]="true">


                <sebm-google-map-marker
                        [latitude]="currentLocation.latitude"
                        [longitude]="currentLocation.longitude"
                        [label]=""
                        [iconUrl]="'../assets/images/hospital_location.png'"
                        [markerDraggable]="false">

                    <sebm-google-map-info-window class="clearfix">
                        <strong>{{currentLocation.name}}</strong>
                        <div>{{currentLocation.address}}</div>
                        <div>{{currentLocation.city}},{{currentLocation.state}} {currentLocation.zip}}</div>
                        <button class="btn btn-block btn-primary btn-rounded pull-left"
                                (click)="chooseFromMap(m)">Select
                        </button>
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>

                <sebm-google-map-marker
                        *ngFor="let m of contractedPharmacies; let i = index"
                        (markerClick)="clickedMarker(m.name, i)"
                        [latitude]="m.dni_pharmacy.latitude"
                        [longitude]="m.dni_pharmacy.longitude"
                        [label]=""
                        [iconUrl]="'../assets/images/doc_and_i_icon_sm.png'"
                        [markerDraggable]="false">


                    <sebm-google-map-info-window class="clearfix">
                        <strong>{{m.dni_pharmacy.name}}</strong>
                        <div>{{m.dni_pharmacy.address}}</div>
                        <div>{{m.dni_pharmacy.city}},{{m.dni_pharmacy.state}} {{m.dni_pharmacy.zip}}</div>
                        <button class="btn btn-block btn-primary btn-rounded pull-left"
                                (click)="chooseFromMap(m)">Select
                        </button>
                    </sebm-google-map-info-window>

                </sebm-google-map-marker>

                <!--<sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"-->
                <!--[radius]="5000"-->
                <!--[fillColor]="'red'"-->
                <!--[circleDraggable]="true"-->
                <!--[editable]="true">-->
                <!--</sebm-google-map-circle>-->

            </sebm-google-map>
        </div>
    </div>
</div>

<div bsModal #patientCountModal="bs-modal" class="modal fade patient-count-modal" tabindex="-1" role="dialog"
     aria-labelledby="patientCountModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" aria-label="Close" (click)="patientCountModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <center class="modal-title ">How many patients will <br> you see today?</center>
            </div>
            <div class="modal-body clearfix">
                <form (ngSubmit)="changeExpectedPatients()" #patientCountForm="ngForm">
                <div class="input-group row"><span class="input-group-btn"><button type="button"
                                                                               class="btn btn-blue" (click)="edit_expected_patients = edit_expected_patients-1">-</button></span>
                    <input [(ngModel)]="edit_expected_patients"
                            class="form-control hide-number-steppers" type="number" min="1" max="100000"
                            style="text-align: center;" name="expected_patients">
                    <span class="input-group-btn"><button
                            type="button"
                            class="btn btn-blue" (click)="edit_expected_patients = edit_expected_patients+1">+</button></span>
                </div>
                    <br/>
                    <div class="col-sm-offset-4 col-sm-4" >
                    <button
                            type="submit"
                            [disabled]="expected_patients_sending"
                            class="btn btn-primary">Submit</button>
                    </div>

                </form>
        </div>
        </div>
    </div>
</div>