<div class="three40-b-page">
    <section class="header">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
                <div class="row">
                    <div class="col-xs-1 subnav-text">
                        <a href=""><img src="assets/images/svg/icon-sub-map.svg" width="60px"></a>
                    </div>
                    <div class="col-xs-1 subnav-text">
                        <a href=""><img src="assets/images/svg/icon-sub-savings.svg" width="60px"></a>
                    </div>
                    <div class="col-xs-8 subnav-text">
                        <h2><img src="assets/images/svg/icon-script.svg" width="30px"> 340B</h2>
                    </div>
                    <div class="col-xs-2 subnav-text refresh">
                        <a href="#"><img src="assets/images/svg/icon-refresh.svg" width="30px"> <span
                                class="hide-for-small-only">New</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="script">
        <div class="row" id="question1">
            <div class="col-xs-12  col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3 container">
                <div class="row text-xs-center">
                    <p class="question">Is the patient using a contracted pharmacy?</p>
                    <div id="tabs-start">
                        <section class="menu-tabs">
                            <form role="form">
                                <ul class="menu" data-tabs id="question-tabs">
                                    <li class="tabs-title is-active" style="display:none;">
                                        <a href="#start" aria-selected="true">start</a>
                                    </li>
                                    <a class="btn btn-primary btn-rounded" href="#answer-yes">Yes</a>
                                    <a class="btn btn-primary btn-rounded" href="#answer-no">No</a>
                                </ul>
                            </form>

                        </section>
                    </div>
                    <tabset [justified]="false" class="question-tabs">
                        <tab heading="start" class="tabs-panel" id="start">
                            <div class="row ">
                                <section>
                                    <div class="row">
                                        <div class="col-xs-12 col-xs-centered block pharmacy-list border">
                                            <ul>
                                                <li class="title">Walgreens</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                                <li class="address">123456 Main St | Chicago, IL</li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </tab>

                        <tab heading="answer-yes" class="tabs-panel">
                            <div class="row">
                                <section>
                                    <div class="row text-xs-center">
                                        <select>
                                            <option value="pharmacy">Select Participating Pharmacy</option>
                                            <option value="pharmacy">Walgreens | 1234 Main St, Chicago...</option>
                                        </select>
                                    </div>
                                    <div class="row text-xs-center">
                                        <input id="thanked" type="checkbox"><label for="thanked">I have thanked patient
                                        and informed them of the 340B benefits</label>
                                    </div>
                                    <div class="row text-xs-center">
                                        <ul class="benefit">
                                            <li class="intro">Asian Human Services has partnered with local pharmacies
                                                through a federal program. This program is designed to:
                                            </li>
                                            <li>help patients save money on medications</li>
                                            <li>support Asian Human Services with savings</li>
                                        </ul>
                                    </div>
                                    <div class="row text-xs-center">
                                        <a href="#" class="button primary">Submit</a>
                                    </div>
                                </section>
                            </div>
                        </tab>

                        <tab heading="answer-no" class="tabs-panel">
                            <div class="row">
                                <section>
                                    <div class="row text-xs-center">
                                        <input id="340b-benefits" type="checkbox"><label for="340b-benefits">I have
                                        informed patient of the 340B benefits</label>
                                    </div>
                                    <div class="row text-xs-center">
                                        <ul class="benefit" style="margin-top:0;">
                                            <li class="intro">Asian Human Services has partnered with local pharmacies
                                                through a federal program. This program is designed to:
                                            </li>
                                            <li>help patients save money on medications</li>
                                            <li>support Asian Human Services with savings</li>
                                        </ul>
                                    </div>
                                    <div class="row text-xs-center">
                                        <input id="pharmacy-info" type="checkbox"><label for="pharmacy-info">I have
                                        informed patient of the <a href="" target="_blank">participating pharmacy
                                            locations</a> and corresponding benefits of pharmacies</label>
                                    </div>
                                    <br>
                                    <div class="row text-xs-center">
                                        <a href="#" class="button primary">Submit</a>
                                    </div>
                                </section>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12  col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <ul class="status">
                    <li class="done"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>
</div>