<div class="drug-search">
  <div class="row">
    <form class="search-box col-md-10 center col-lg-7">
      <div class="center text-center row-space">Prescription savings on <br> brand name and
        generic medications
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-9 end">
          <small>Quantity:</small>
        </div>
      </div>
      <div class="row">
        <img src="images/red-arrow.png" class="red-arrow">
        <div class="col-sm-8 col-sm-offset-1"><input type="search" class="search-bar" placeholder="Search Medications"/></div>
        <div class="col-lg-2 col-md-2 co-sm-3 end"><input type="number"/></div>
      </div>

      <div class="row row-space">
        <div class="col-sm-11 col-sm-offset-1 col-md-10">
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">0</div>
          <div class="dosage-box empty">330</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11 col-lg-5 col-md-5 col-dm-offset-1 end ninety-day-supply">
          <input type="checkbox" id="90DaySupply"/>
          <label for="90DaySupply">90 day supply*</label>
        </div>
        <div class="col-sm-11 col-lg-6 col-md-6 col-sm-offset-1 col-lg-offset-0 col-md-offset-0"><a class="button radius expand">Compare Prices</a></div>
      </div>


      <div>
        <small>*extends deeper discounts</small>
      </div>
    </form>
  </div>
</div>
