
<section class="about-us">
    <section class="about-us-header">

    </section>
    <section class="white-row content-row">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 ">
                <h1>About Doc&I</h1>
                <p>Doc&I supports the mission of Health Care Providers and Covered Entities to provide better care for their patients. The Doc & I solution combines patent-pending technology with on premise expertise that works personally with staff and patients to maximize 340B program savings and patient care efforts.</p>
                <p>Our prescription transparency software, built for healthcare providers, ensures patients receive the best value for their prescriptions prior to arriving at the pharmacy.</p>
                <p>We integrate data from multiple sources using a proprietary database and algorithm to deliver point-of-care, real-time prescription pricing and pharmacy benefit information to healthcare providers within their existing workflow.</p>
                <h2>Our Mission</h2>
                <p>At Doc&I it is our mission to ensure patients receive the best value for their prescription(s) by empowering doctors and patients with transparent medication and pharmacy choices at the point-of-care.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="assets/images/prescription-software.png">
            </div>
        </div>
    </section>
</section>