.account-settings-page{

  .field-title,.field{
    text-align: left;
    border: none;
  }

  .container {
    background-color: $white;
    padding: 40px;
    margin-top: 10px;
  }
  .modal-body{
    .avatar-large{
      margin: 0 5px;
    }
  }
}