<div class="animate">                
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-success card-inverse">
                    <h3 class="card-title">Contextual Progressbars</h3>
                </div>
                <div class="card-block">
                    <progress class="progress progress-primary" value="65" max="100">65%</progress>
                    <progress class="progress progress-success" value="25" max="100">25%</progress>
                    <progress class="progress progress-info" value="50" max="100">50%</progress>
                    <progress class="progress progress-warning" value="75" max="100">75%</progress>
                    <progress class="progress progress-danger" value="100" max="100">100%</progress>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">Striped Progresbars</h3>
                </div>
                <div class="card-block">
                    <progress class="progress progress-striped" value="10" max="100">10%</progress>
                    <progress class="progress progress-striped progress-success" value="25" max="100">25%</progress>
                    <progress class="progress progress-striped progress-info" value="50" max="100">50%</progress>
                    <progress class="progress progress-striped progress-warning" value="75" max="100">75%</progress>
                    <progress class="progress progress-striped progress-danger" value="100" max="100">100%</progress> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-warning card-inverse">
                    <h3 class="card-title">AngularJS Dynamic Progressbars</h3>
                </div>
                <div class="card-block">
                    <h4>Dynamic <button class="btn btn-secondary"(click)="generateRand()">Randomize</button></h4>
                    <progress class="progress progress-striped" value="{{firstNum}}" max="100">{{firstNum}}%</progress>
                    <progress class="progress progress-striped progress-success" value="{{secondNum}}" max="100">{{secondNum}}%</progress>
                    <progress class="progress progress-striped progress-info" value="{{thirdNum}}" max="100">{{thirdNum}}%</progress>
                    <progress class="progress progress-striped progress-warning" value="{{forthNum}}" max="100">{{forthNum}}%</progress>
                    <progress class="progress progress-striped progress-danger" value="{{fifthNum}}" max="100">>{{fifthNum}}%</progress> 
                </div>   
            </div>     
        </div>
    </div>
</div>