#sidebar {
	width: $nav-width;
	position: fixed;
	top: 0;
	bottom: 0;
	color: #FFF;
	background: $brand-primary;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
	a {
		cursor: pointer;

  }

  .nav{
    .nav-text{
      border: white 1px solid;
      text-align: center;
      font-size: .8em;
      padding: 15px 30px;
      margin-top: 15px;
      text-transform: uppercase;
      font-weight: 600;
      a {
        color: rgba(255, 255, 255, 0.8);
        >img{
          float: left;
            -webkit-filter: grayscale(100%) brightness(5);
            filter: grayscale(100%) brightness(5);
        }
      }
    }
  }
	.sidenav-outer {
		position: absolute;
		top:50px;
		bottom:0;
		left:0;
		right: 0;
		overflow: hidden;
		border-top: 1px solid darken($brand-primary,5%);
	}
	div.side-widgets {
		color: rgba(255,255,255,0.8);
		float: left;
		width: $nav-width;
		position: absolute;
		left: 0;
		.widgets-header {
			text-align: center;
			padding: 15px;
			height: 50px;
			color: rgba(255,255,255,0.8);
			font-size: 15px;
			font-weight: 600;
			a {
				color: inherit;
				&:hover, &:focus {
					color: rgba(255,255,255,1);
					text-decoration: none;
				}
			}
		}
		.widgets-content {
			padding: 12px;
      color: rgba(255,255,255,0.8);
      overflow: hidden;
			.avatar-name {
				padding-top: 12px;
				font-size: 14px;
			}


		}
	}
}
@media screen and (max-width: 768px) {
 	#sidebar {
 		left : -$nav-width;
 	}
 	.main-container {
 	    margin-left: 0 !important;
 	}
}
.sidebar-left-zero {
		left : 0 !important;
}
.main-container-ml-zero {
	margin-left: 235px !important;
	margin-right: -235px !important;
}
