<div class="manage-clinics-page">
    <div class="header">
        <h2>Manage Clinics</h2>
    </div>
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">All Clinics</span>
        </div>
        <div class="card-block">
            <table class="table ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Surescripts ID</th>
                    <th class="action-column"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip</td>
                    <td>Phone</td>
                    <td>Latitude</td>
                    <td>Longitude</td>
                    <td>Surescripts ID</td>
                    <td class="action-column">
                        <Button class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i>Edit</Button>
                        <Button class="btn btn-danger btn-rounded"><i class="fa fa-save"></i>Save</Button>
                        <Button class="btn btn-primary btn-bordered"><i class="fa fa-times-circle"></i>Cancel</Button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>