<div class="row dashboard-home gradient">
    <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <section class="header">
            <h2>Welcome {{currentUser.name}}</h2>
        </section>
        <div class="card-deck-wrapper">
            <div class="card-deck" id="row1">

                <div class="card text-xs-center team-activity">
                    <div class="card-block" *ngIf="currentClinic">
                        <h3 class="card-title">Monthly Team Activity</h3>
                        <div>{{currentClinic.team_month_points}} Points</div>
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="65"
                             aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 65%"></div>
                        </div>
                        <div>Goal
                            {{currentClinic.team_goal}}
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <img *ngIf="!currentClinic.month_trophy" src="http://placehold.it/150x150" class="trophy">
                                <img *ngIf="currentClinic.month_trophy" src="{{currentClinic.month_trophy.image_url}}" class="trophy">
                            </div>
                            <div class="col-sm-12">
                                <h4>{{currentMonth}} Trophy</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-xs-center your-activity">
                    <div class="row current-activity">
                        <div class="card-block"  *ngIf="currentUser.avatars">

                            <a (click)="selectAvatarModal.show()"><img src="{{currentUser.image_url}}"
                                                                       class="avatar-large"></a>
                            <!-- MODAL -->
                            <div bsModal #selectAvatarModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="avatarModal" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" aria-label="Close"
                                                    (click)="selectAvatarModal.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">Select an Avatar</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{avatar.image_url}}" class="avatar-large"
                                                 *ngFor="let avatar of currentUser.avatars" (click)="chooseAvatar(avatar.image_url)">
                                            <h3 *ngIf="!currentUser.avatars.length">No Avatars</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MODAL -->
                            <br>
                            <h3>Your Activity</h3>
                            <div>{{currentUser.month_points}} Points</div>
                        </div>
                    </div>
                    <br/>
                    <div class="row lifetime-activity">
                        <div class="card-block">

                            <h3>Lifetime Activity</h3>
                            <div>{{currentUser.total_points}} Points</div>
                        </div>
                    </div>
                </div>

                <div class="card  text-xs-center leaderboard">
                    <div class="card-block" *ngIf="currentClinic">
                        <div class="row award">
                            <div class="col-sm-12 col-md-5">
                                <img *ngIf="!currentClinic.next_reward" src="http://placehold.it/150x150" class="trophy">
                                <img *ngIf="currentClinic.next_reward" src="{{currentClinic.next_reward.image_url}}" class="trophy">
                            </div>
                            <div class="col-sm-12 col-md-7 left">
                                <h4>Awarded to the individual with the most points</h4>
                            </div>
                        </div>
                        <div class="text-xs-left">
                            <div class="row rank"
                                 *ngFor="let user of currentClinic.top_users; let i = index">
                                <div class="col-xs-3">
                                    <img src="{{user.avatar}}" class="avatar">
                                </div>
                                <div class="col-xs-6">
                                    <div class="name">{{user.name}}</div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="name">#{{i+1}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="card text-xs-center">
            <div class="card-block">
                <h3 class="card-title">Awards</h3>
                <br>
                <div class="row" *ngIf="currentUser.rewards">
                    <div class="col-sm-12 col-md-4" (click)="trophyModal.show()">
                        <a data-open="tropyModal">
                            <img *ngIf="!currentUser.trophies[0]" src="http://placehold.it/150x150" class="trophy">
                            <img *ngIf="currentUser.trophies[0]" src="{{currentUser.trophies[0].image_url}}" class="trophy">
                            <p>{{currentUser.trophies.length}} Trophies</p></a>
                    </div>
                    <!-- TROPHY MODAL -->
                    <div bsModal #trophyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="tropyModal" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-label="Close" (click)="trophyModal.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Your Trophies</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="{{trophy.image_url}}" class="avatar-large"
                                         *ngFor="let trophy of currentUser.trophies">
                                    <h3 *ngIf="!currentUser.trophies.length">No Trophies</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL -->
                    <div class="col-sm-12 col-md-4" (click)="avatarModal.show()">
                        <a data-open="avatarModal">
                            <img *ngIf="!currentUser.avatars[0]" src="http://placehold.it/150x150" class="trophy">
                            <img *ngIf="currentUser.avatars[0]" src="{{currentUser.avatars[0].image_url}}" class="trophy">
                            <p>{{currentUser.avatars.length}} Avatars</p></a>
                    </div>
                    <!-- AVATAR MODAL -->
                    <div bsModal #avatarModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="avatarModal" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-label="Close" (click)="avatarModal.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Your Avatars</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="{{avatar.image_url}}" class="avatar-large"
                                         *ngFor="let avatar of currentUser.avatars">
                                    <h3 *ngIf="!currentUser.avatars.length">No Avatars</h3>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END MODAL -->
                    <div class="col-sm-12 col-md-4" (click)="badgeModal.show()">

                        <a data-open="badgesModal">
                            <img *ngIf="!currentUser.badges[0]" src="http://placehold.it/150x150" class="trophy">
                            <img *ngIf="currentUser.badges[0]" src="{{currentUser.badges[0].image_url}}" class="trophy">
                            <p>{{currentUser.badges.length}} Badges</p></a>
                    </div>
                    <!-- BADGES MODAL -->

                    <div bsModal #badgeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="badgeModal" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-label="Close" (click)="badgeModal.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Your Badges</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="{{badge.image_url}}" class="avatar-large"
                                         *ngFor="let badge of currentUser.badges">

                                    <h3 *ngIf="!currentUser.badges.length">No Badges</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END MODAL -->
                </div>
            </div>
        </div>
    </div>
</div>